*{
    margin:0%;
    padding:0%;
}
.card{
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 500px;
    background-image: linear-gradient(to right, #219199 , #49f3ff);
    border-color: white;

}
h1{
    text-align: center;
    margin-top: 10%;
}
.card-body{
    border-color: white;
}