<div class="row">
    
    <div class="col-md-6">
        
        <div class="card">  
            <div class="card-body">
                    <img src="../../../assets/imagensHome/imagesteste.png" alt="...">
               <h1>Doe</h1>
            </div>
        </div>

    </div>
    <div class="col-md-6">

            <div class="card">        
                <div class="card-body">
                        <img src="../../../assets/imagensHome/imagesteste2.png" alt="...">
                        <h1>Troque</h1>
                </div>
            </div>
    </div>
    
</div>