<div class="row" >   
    <div class="col-md-6">
        <div class="card" >            
            <div class="card-body">
                <h1>Doe</h1>
                    <img src="../../../assets/imagensHome/1.png" alt="">               
            </div>
        </div>
    </div>
    <div class="col-md-6">
            <div class="card" >        
                <div class="card-body">
                        <h1>Troque</h1>
                        <img src="../../../assets/imagensHome/3.png" alt="">                      
                </div>
          </div>
    </div>
</div>



    <div class="row t">
        <div class="col-md-8" id="parallax">              
            <h1>A Importancia da Doação</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ut, inventore magnam. 
                Maxime explicabo magni sunt optio quis natus 
                dignissimos eum voluptate sed? Incidunt ea delectus 
                vero corporis fugiat aut molestiae!</p>                 
        </div>
        <div class="col-md-4" id="bola">    
                <img src="../../../assets/imagensHome/2.png" alt="">
        </div>
    </div>


    <div class="row t">
        <div class="col-md-4" id="bola2">    
            <img src="../../../assets/imagensHome/doe.png" alt="">
        </div>
            <div class="col-md-8" id="parallax">                  
                <h1>A consciência da troca</h1>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Ut, inventore magnam. 
                    Maxime explicabo magni sunt optio quis natus 
                    dignissimos eum voluptate sed? Incidunt ea delectus 
                    vero corporis fugiat aut molestiae!</p>     
            </div>
    </div> 
