  

  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3">
              <img src="../../../assets/imagensHome/ongMulher.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-3">
              <img src="../../../assets/imagensHome/casa1.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-3">
              <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-3">
              <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
          </div>
        
      </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
            
          </div>
      </div>
      <div class="carousel-item">
          <div class="row">
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-3">
                  <img src="../../../assets/imagensSobre/1.png" class="d-block w-100" alt="...">
              </div>
            
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
     