<div class="row" id="titulo">
    <div class="col-md-12">
        <h1>Usuários do COMUD</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <div *ngFor='let USER of listaUser'>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 div" id="colN"><a [routerLink]="['/editausuarios',USER.idUsuario]"
                        class="text-muted"> {{ USER.nome }} </a></div>
                <div class="col-md-3 div "> <button class="btn btn-outline " data-toggle="modal"
                        data-target="#exampleModal"><a [routerLink]="['/editausuarios',USER.idUsuario]"
                            class="text-light"> Alterar </a></button></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>