*{
    margin:0%;
    padding:0%;
}
#titulo h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:#059faa;
}
#titulo{
    margin-top: 5%;
    margin-bottom: 3%;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}